/* == TYPOGRAPHY == */
@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'LexendDeca';
  src: url('./fonts/LexendDeca.ttf') format('truetype');
}

* {
  color: white;
}

h1 {
  font-family: 'Inter';
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 25px;
  width: 400px;
}

h1 span {
  color: #AB5CDB;
}

.description {
  font-family: 'Inter';
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  opacity: 75%;
  width: 375px;
}

.stat-number {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: bold;
}

.stat-label {
  font-family: 'LexendDeca';
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 60%;
}

/* == MAIN == */
main {
  background-color: #0A0C1C;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* == CARD == */
.card {
  display: flex;
  justify-content: space-between;
  background-color: #1B1937;
  width: 1110px;
}

.left,
.rigth {
  width: 50%;
}

/* == LEFT == */
.left {
  display: flex;
  flex-direction: column;
  padding: 71px 71px 59px 72px;
}

/* == STATS == */

.stats {
  display: flex;
  gap: 63px;
  margin-top: 72px;
}

/* == RIGHT == */

img {
  width: 540px;
  height: 446px;
}